@media only screen and (max-width: 500px) {
  body {
    background-color: red;
    font-size: 12pt;
  }
}
@media only screen and (max-width: 768px) and (min-width: 500px) {
  body {
    background-color: green;
    font-size: 16pt;
  }
  .small {
    width: 66%;
    float: left;
  }
  .medium {
    width: 33%;
    float: right;
  }
  .large {
    width: 100%;
    float: left;
  }
}
@media only screen and (min-width: 768px) {
  body {
    background-color: blue;
    font-size: 20pt;
    column-count: 3;
  }
}
